*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Manrope', 'sans serif';
}

body{
    background-color:#ECF2F8;
}

article{
    width:20.4375rem;
    border-radius:10px;
    margin-inline:auto;
    position:relative;
    background-color:#FFFFFF;
    margin-block:3rem;
    box-shadow: 0px 40px 40px -10px rgba(201,213,225,0.5);
    -webkit-box-shadow: 0px 40px 40px -10px rgba(201,213,225,0.5);
    -moz-box-shadow: 0px 40px 40px -10px rgba(201,213,225,0.5);
}

article > div{
    background-image:url('./images/drawers.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center 25%;
    width:100%;
    height:12.5rem;
    border-radius: 10px 10px 0 0;
}

article > section:nth-of-type(1){
    padding: 2.25rem 2rem 1.25rem;
}

article > section > h1{
    font-size: 1rem;
    font-weight:bold;
    line-height:1.5rem;
    letter-spacing:0.2px;
    color:#48556A;

}

p{
    font-size:0.81rem;
    font-weight:medium;
    line-height:1.25rem;
    letter-spacing:0.12px;
}

article > section > p{
    color:#6E8098;
    margin-block-start:0.75rem;
}

article > section > section {
    display:flex;
    gap:1rem;
    align-items:center;
    margin-block-start:2rem;
}

article > section > section > img{
    border-radius:50%;
    width:2.5rem;
    height:2.5rem;
}

article > section > section > section > h2{
    font-size: 0.8125rem;
    color:#48556A;
    line-height:1.25rem;
    letter-spacing:0.12px;
    font-weight:bold;
}

article > section > section > section > p{
    color:#9DAEC2;
}

button{
    width:2rem;
    height:2rem;
    border-radius:50%;
    border:none;
    margin-left: auto;
    background-color:#ECF2F8;
    z-index:2;
    cursor:pointer;
}

article > section:last-of-type{
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
    background-color:#48556A;
    border-radius:0 0 10px 10px;
    align-items:center;
    padding-block:1.375rem;
    padding-inline:2rem;
    gap:1.3125rem;
    display:none;

}

article > section:last-of-type p{
    margin-block:0;
    text-transform:uppercase;
    letter-spacing:5px;
    color:#9DAEC2;
}

article > section:last-of-type div{
    display:flex;
    gap:1rem;
    align-items:center;
}

a {
    display: inline-block;
}

a img{
    display: block;
    cursor:pointer;
}

.active{
    display:flex !important;
}

.activeShareButton{
    background-color:#6E8098 !important;
}

.activePosition{
    padding: 2.25rem 2rem .68rem !important;
}


@media screen and (min-width:768px){
    main{
        height:100vh;
        display:flex;
        align-items:center;
    }
    article{
        width:45.625rem;
        display:grid;
        grid-template-columns:repeat(5,1fr);
        margin-block:0rem;

    }

    article > div{
        background-position:0% center;
        width:17.8125rem;
        height:17.5rem;
        border-radius: 10px 0 0 10px;
        grid-column:span 2;
    }

    article > section:nth-of-type(1){
        padding: 2rem 2.5rem 2rem;
        grid-column:span 3;
    }

    article > section > h1{
        font-size: 1.25rem;
        line-height:1.75rem;
        letter-spacing:0.25px;
    }

    article > section > section {
        margin-block-start:1.25rem;
    }

    article > section:last-of-type{
        position:absolute;
        bottom:6rem;
        left:34.375rem;
        width:auto;
        border-radius:10px;
        padding-block:1.125rem;
        padding-inline:2.25rem;
        box-shadow: 0px 10px 10px 0px rgba(201,213,225,0.5);
        -webkit-box-shadow: 0px 10px 10px 0px rgba(201,213,225,0.5);
        -moz-box-shadow: 0px 10px 10px 0px rgba(201,213,225,0.5);
        display:none;
    
    }

    article > section:last-of-type::after{
        content:"";
        position:absolute;
        bottom:-0.7rem;
        left:45%;
        width:1.5rem;
        height:1.5rem;
        background-color:#48556A;
        transform: rotate(45deg);
        border-radius:50px 0 0 0;
    }
    
}